<table mat-table [dataSource]="dataSource" class="mat-elevation-z8 table" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="buyerQuantity">
      <th mat-header-cell *matHeaderCellDef> mktVol </th>
      <td mat-cell *matCellDef="let element" class="bid"> {{element.buyerQuantity}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="Buy">
      <th mat-header-cell *matHeaderCellDef> Bid </th>
      <td mat-cell *matCellDef="let element" class="bid"> {{element.Buy}} </td>
    </ng-container>
  
    <!-- Weight Column -->
     <ng-container matColumnDef="sellerQuantity">
      <th mat-header-cell *matHeaderCellDef> mktVol </th>
      <td mat-cell *matCellDef="let element" class="ask"> {{element.sellerQuantity}} </td>
    </ng-container>
    <ng-container matColumnDef="Sell">
      <th mat-header-cell *matHeaderCellDef> Ask </th>
      <td mat-cell *matCellDef="let element" class="ask"> {{element.Sell}} </td>
    </ng-container>
  
    <!-- Symbol Column -->
    
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns" class="header"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="content"></tr>
  </table>
  
  