<form class="search-form">
    <mat-form-field class="search-field">
      <mat-label>Favorite Stock</mat-label>
      <input
        matInput
        type="search"
        (input)="onSearchInput()"
        [formControl]="query"
        placeholder="Search Buyers by Price or Quantity"
      />
    </mat-form-field>
  </form>
  <div class="dashboard">
    <div class="symbol-list">
      <mat-accordion>
        <div *ngFor="let symbol of symbolList" class="symbol-container">
          <mat-expansion-panel hideToggle [expanded]="selectedSymbol === symbol.name" class="symbol-expansion-panel">
            <mat-expansion-panel-header (click)="selectSymbol(symbol.name)">
              <mat-panel-title> {{symbol.name}} </mat-panel-title>
            </mat-expansion-panel-header>
  
            <app-market-modal [data]="getMarketDepthDataForSymbol(selectedSymbol) "></app-market-modal>
          </mat-expansion-panel>
          <button mat-raised-button color="primary"
            (click)="symbol.isAdded ? removeSymbol(symbol.name) : addSymbol(symbol.name)">
            {{symbol.isAdded ? "- Remove" : "+ Add"}}
          </button>
        </div>
      </mat-accordion>
    </div>
  </div>