
.table{
    background-color: rgb(12, 11, 12);
    color: white;
    min-width: none;
    thead{
        border-radius: 10%;
    }
    tbody{
        border-radius: 10%;
    }
    
}
.bid{
    color: green;
}
.ask{
    color: red;
}
.header{
    color:white
}
tr{
    height: 40px;
}
.price{
    color:white
}