
.table{
    margin-top: 10px;
    border-radius: 10%;
    background-color: rgb(12, 11, 12);
    color: white;
}
.bid{
    color: green;
}
.ask{
    color: red;
}
.header{
    color:white
}
tr{
    border: 4px solid;
    border-color: white;
}
.price{
    color:white
}