


<div class="dashboard">
  <div class="symbol-list">
    <mat-accordion>
      <div *ngFor="let symbol of symbolList" class="symbol-container">
        <mat-expansion-panel hideToggle [expanded]="selectedSymbol === symbol.name" class="symbol-expansion-panel">
          <mat-expansion-panel-header (click)="selectSymbolIndex(symbol.name)">
            <mat-panel-title> {{symbol.name}} </mat-panel-title>
          </mat-expansion-panel-header>

          <app-market-modal [data]="getMarketDepthDataForSymbol(selectedSymbol)"></app-market-modal>
        </mat-expansion-panel>
        <button mat-raised-button color="primary"
          (click)="symbol.isAdded ? removeSymbol(symbol.name) : addSymbol(symbol.name)">
          {{symbol.isAdded ? "- Remove" : "+ Add"}}
        </button>
      </div>
    </mat-accordion>
  </div>

  <div class="symbol-view">
    <ng-container *ngIf="selectedSymbol; else noSymbolSelected">
      <app-depth-scalpar [data]="getMarketDepthDataForSymbol(selectedSymbol)"></app-depth-scalpar>
    </ng-container>
  </div>
</div>


<ng-template #noSymbolSelected>
  <p #noSymbolSelected>Select a symbol to view market depth</p>
</ng-template>