

  .dashboard{
    display: flex;
    padding: 16px;
    width: calc(100vw - 40px);
    height: calc(100vh - 40px);
    
  }

  .symbol-list {
    width: 50%;
    height: 100%;

    .symbol-expansion-panel{
      background-color: rgb(175, 151, 172);
      border-radius: 12px;
      width: 65%;
      &:not(:first-child) {
        margin-top: 8px;
      }
    }
  }

  /* .symbol-view {
    width: 60%;
  } */